:root {
  background-color: #eee;
}

.dark {
  color: #eee;
  background-color: #333;
}

button {
  background: white;
  border-radius: 3px;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #df1721;
  border: 1px solid #df1721;
  margin: 8px 0;
  cursor: pointer;
}
button:disabled {
  background: #cdcdcd;
  color: #8b8b8b;
  border: 1px solid transparent;
}

div {
  margin: 8px 0;
}

hr {
  margin: 30px 0;
}
